@charset "utf-8";


/* banner index */
.banner_index{
	width: 640px;
	height: 360px;
}


/* css3 动画 */
.nav_main .link{
	-webkit-transition:all .4s ease-out;
	-moz-transition:all .4s ease-out;
	-ms-transition:all .4s ease-out;
	-o-transition:all .4s ease-out;
	transition:all .4s ease-out;
}